<div id="<%= dom_id result %>">
  <p>
    <strong>User:</strong>
    <%= result.user_id %>
  </p>

  <p>
    <strong>Emoji:</strong>
    <%= result.emoji %>
  </p>

  <p>
    <strong>Mood:</strong>
    <%= result.mood %>
  </p>

</div>
